.homepageTable h1,
.homepageTable h2,
.homepageTable h3 {
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.homepageTable h1:active,
.homepageTable h2:active,
.homepageTable h3:active  {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}

.homepageTable h1:hover,
.homepageTable h2:hover,
.homepageTable h3:hover  {
  text-decoration: underline;
  text-decoration-color: black;
}
