.homepage-table h1,
.homepage-table h2 {
  margin-top: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.homepage-table h1:active,
.homepage-table h2:active {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}

.homepage-table h1:hover,
.homepage-table h2:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
