.finishedProductsDropDown {
  position: fixed;
  padding: 0.4rem;
  padding-top: 1rem;
  top: 5rem;
  display: block;
  z-index: 11;
  background-color: white;
  border: solid black;
  font-size: 1.2rem;

  visibility: visible;
  opacity: 1;
  transition: visibility 0.45s, opacity 0.45s linear;
}

.finishedProductsDropDownDisquise {
  position: fixed;
  padding: 0.4rem;
  padding-top: 1rem;
  top: 5rem;
  display: block;
  z-index: 11;
  background-color: white;
  border: solid black;
  font-size: 1.2rem;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.45s, opacity 0.45s linear;
}
