.dropDown {
  position: fixed;
  padding: 0.4rem;
  padding-top: 1rem;
  top: 5rem;
  display: block;
  z-index: 11;
  background-color: white;
  border: solid black;
  font-size: 1.2rem;

  visibility: visible;
  opacity: 1;
  transition: visibility 0.45s, opacity 0.45s linear;
}

.dropDownDisquise {
  position: fixed;
  padding: 0.4rem;
  padding-top: 1rem;
  top: 5rem;
  display: block;
  z-index: 11;
  background-color: white;
  border: solid black;
  font-size: 1.2rem;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.45s, opacity 0.45s linear;
}

.navItem {
  border: none;
  background-color: white;
  color: black;
  float: left;
  display: block;
  text-align: center;
  margin-left: 3.5rem;
  text-decoration: none;
  font-size: 1.9rem;
  padding: 1.3rem;
  padding-left: 3vw;
  outline: none;
  z-index: 20;
}

.navItem:hover {
  color: black;
  background-color: lightgray;
}
