// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.container_w {
  height: 100vh;
  width: 100vw;
  // background-image: url("https://images.unsplash.com/photo-1506190566487-2ea15fae2846?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=68e47766316ed9d9a7992cb57d107eac&auto=format&fit=crop&w=1868&q=80");
  background-size: cover;
  max-width: 100%;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_w {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
}

.today_w {
  display: flex;
}

.temp_w {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 6rem;
  letter-spacing: 2px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.conditions_w {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.location_w {
  background-color: rgba(115, 115, 133, 0.7);
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem 0;
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    padding-top: 2rem;
  }

  .firstLetter_w {
    font-size: 4.5rem;
  }
}

.currentCond_w {
  background-color: rgba(52, 62, 211, 0.7);
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  flex-wrap: nowrap;

  .tags_w {
    font-size: 1rem;
  }
}

.forcast_w {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 2rem 0;
}

.day_w {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #a0a0a0;
}

.day:last-child_w {
  border-right: none;
}

.dayOfWeek_w {
  padding: 1rem 1.75rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.forcastTemp_w {
  padding: 0.5rem 1rem;
}

.icon-location_w {
  height: 8rem;
  width: 8rem;
}

.icon-forcast_w {
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 500px) {
  .today_w {
    flex-direction: column;
  }

  .currentCond_w {
    justify-content: center;

    p {
      padding: 0 2rem;
    }
  }

  .forcast_w {
    flex-wrap: wrap;

    .day_w {
      border: none;
    }
  }
}
